html, body, figure, img, div, input, p, h1, h2, h3, h4, main {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image: url('../imagens/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.hidden {
    display: none;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    padding: 10px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 0 0 #2e58b1, -2px 0 0 #2e58b1, 0 2px 0 #2e58b1, 0 -2px 0 #2e58b1, 1px 1px #2e58b1, -1px -1px 0 #2e58b1, 1px -1px 0 #2e58b1, -1px 1px 0 #2e58b1;
}

#screen {
    text-align: center;
    padding: 20px;
}

.initiDiv {
    padding: 25px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 10px;
}

.game-options {
    height: 45px;
    width: 120px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #ccc;
}

h2 {
    letter-spacing: 3px;
    text-shadow: 2px 0 0 #2e58b1, -2px 0 0 #2e58b1, 0 2px 0 #2e58b1, 0 -2px 0 #2e58b1, 1px 1px #2e58b1, -1px -1px 0 #2e58b1, 1px -1px 0 #2e58b1, -1px 1px 0 #2e58b1;
}

.div-cards {
    padding: 30px;
    position: relative;
}

.cards {
    width: 100%;
    height: fit-content;
}

.carta-status {
    bottom: 40px;
    left: 44px;
    position: absolute;
}

.carta-status input{
    box-sizing: border-box;
    font-size: 0;
    height: 42px;
    margin-bottom: 2px;
    width: 346px;
    background-color: #0000;
}

.carta-status input:hover {
    background-color: #cccccc8f;
}
footer{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.563);
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 500px){
    .page-title {
        padding: 20px;
        font-size: 50px;
    }

    .div-cards {
        display: inline-block;
    }

    .carta-status {
        bottom: 39px;
        left: 40px;
    }

    .carta-status input{
        height: 30px;
        width: 265px;
    }

    .cards {
        width: auto;
        height: 440px;;
    }
}